body{
  background-color: #FFFBFA;
  margin:0;

}



.menu {
    list-style: none;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content:flex-start;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 20px;
}


.menu a, .menu .button {
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: 0.7rem 1rem;
    color:  #FFFBFA;
}

section{
  max-width: 35em;
  margin: 0 auto;

}



 header{
   background-color: #A9B6DB;
   color:#dddddd;
   padding: 2em;
   position: relative;

 }

 header::after{
   content: "";
   display: block;
   width: 75px;
   height: 75px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(-14%)rotate(45deg);
   background-color: #A9B6DB;
 }



 .nastyadvert{
   background-image: url(moonassi.jpg);
   min-height: 60vh;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   margin-top: 7em;
 }

 @media only screen and (min-width: 400px)
   {.nastyadvert
         background-image: url('moonassi.jpg');
       }

.nastyadvert h1{
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: right;
  text-shadow: 1px 1px 2px black;
  margin-left: 2px;

}
.nastyadvert h2{
  font-size: 1.6em;
   font-family: 'Quicksand', sans-serif;
   font-weight: lighter;
  color: #FFFFFF;
  text-align: right;
  text-shadow: 1px 1px 2px black;
  margin-left: 50px;

}

.nastyadvert a{
  color:#F2E16F;
}






 @media (max-width: 1095px){.nastyadvert .container
   margin-top: 0;
   font-size: 3.998em;
 }

footer{
  background-color: #A9B6DB;
  color: #dddddd;
  padding: 0.7em;
  margin-bottom: 1px;
  margin-top: 100px;
}

.linklist{
  list-style-type: none;
  line-height: 5px;
  text-align: center;


}

.linklist li{
  margin:2em;
}

.linklist a{
  color: #fff;
font-size: 20px;
font-family: 'Titillium Web', sans-serif;
font-weight: lighter;
text-decoration: none;
}



.mywork ul{
  background-color: #FFFBFA;
  list-style-type:none;
  display: flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  margin-right: -20em;
margin-left: -20em;

}

.mywork li {
 border: 0px solid;
 max-width: 20%;
 margin:2em;

}

.mywork img{
   width:100%;
   filter: hue-rotate(180deg);

 }

 .hue-rotate img {
filter: hue-rotate(120deg);
-webkit-filter: hue-rotate(120deg);
}
.mywork img:hover {
filter: hue-rotate(0deg);
-webkit-filter: hue-rotate(0deg);
}

.fleur img{
  width: 100%;
  margin-top: 82px;

}
