h1{
  font-size: 3.9em;
font-family: 'Titillium Web', sans-serif;
  text-align: center;
  color: #FFFFFF;

}


p {margin-bottom: 1.3em;
font-family: 'Titillium Web', sans-serif;
  font-weight:normal;
  margin-top: 2em;
  font-size: 1.2em;
  color: #032687;
  text-align: justify;

}
 h6{
   margin-bottom: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight:normal;
    margin-top: 0em;
     font-size: 1em;
     color: #032687;
     text-align: center;
 }

 h2, h3, h4, h5 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'Pacifico', cursive;
  color: #7EA0FC;
  text-align: center;
}

@media (max-width: 1095px){h1
  margin-top: 0;
  font-size: 3.998em;
}



h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5 {font-size: 1.414em;}

h6 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


.linklist li{
  font-size: 1.1em;
  font-family: 'Titillium Web', sans-serif;

}
